:root {
  --color-primary: #791f90;
  --color-text: #18161d;
  --color-text-lighter: rgb(126, 129, 131);
  --color-danger: #cf004c;
  --color-light-gray: #f6f7f9;
  --color-gray: #e8eaee;
  --color-dark-gray: #f0f0f0;
  --color-light: #f8f8f8;
  --color-dark: rgb(16, 17, 22);
  --color-dark-lighter: rgb(14, 43, 63);
  --background: rgb(240, 243, 245);
  --color-main-background: rgb(255, 255, 255);
  --sidebar-width: 290px;
}

.dark-mode {
  --color-text: #dfdfdf;
  --color-text-lighter: #959698;
  --background: #212630;
  --color-main-background: #191d1f;
}

*:focus {
  box-shadow: none !important;
}

iframe {
  height: 100% !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: var(--color-text) !important;
  -webkit-text-fill-color: var(--color-text) !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


webview {
  display: block;
  /* iframes are inline by default */
  border: none;
  /* Reset default border */
  height: 80vh;
  /* Viewport-relative units */
  width: 95vw;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text) !important;
  height: 100% !important;
  background: var(--background) !important;
  font-size: 11.5pt !important;
}

#root {
  min-height: 100vh;
}

.bg-body {
  background-color: var(--background) !important;
}


.bold {
  font-weight: bold !important;
}


.tabs-nav .nav-link {
  padding: 0 !important;
}

.color-text {
  color: var(--color-text) !important;
}

.color-text-lighter {
  color: var(--color-text-lighter) !important;
}

.tabs-nav .tab-content {
  max-height: calc(100vh - 25px);
  height: 100%;
}

.tabs-nav .nav-item .nav-link {
  color: var(--color-text) !important;
  border: 0 !important;
}

.tabs-nav .nav-item .nav-link .tab-item span {
  color: var(--color-text) !important;
}

.nav-tabs .nav-item .nav-link {
  border-top-left-radius: .5rem !important;
  border-top-right-radius: .5rem !important;
  z-index: 99999 !important;
  position: relative;
}

.nav-tabs .nav-item .nav-link.active {
  background: var(--background) !important;
}

.nav-tabs .nav-item:not(:last-child) .nav-link:hover {
  background: var(--background) !important;
}

.nav-tabs .nav-item:last-child {
  margin-left: auto !important;
}

.bg-gray {
  background-color: var(--color-light-gray) !important;
}

.bg-app {
  background-color: var(--color-main-background) !important;
}

.btn-basic:hover {
  background-color: #18161d1c !important;
}

.hover-secondary:hover {
  background-color: #18161d1c !important;
}

.btn-primary,
.bg-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  transition: opacity 0.25s ease !important;
}

.btn-primary:hover {
  opacity: 0.8;
}

.text-primary {
  color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.rounded-lg {
  border-radius: 20px !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400 !important;
}

.btn-basic.border {
  border: 1px solid #6d7379 !important;
}

.form-control {
  border: 1px solid #6d7379 !important;
  background: transparent !important;
  transition: border-color 0.3s ease;
  color: var(--color-text) !important;
}

.form-control:focus {
  border-color: var(--color-text) !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-lighter) !important;
  opacity: 1;
  /* Firefox */
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: var(--color-text) !important;
}

.small {
  font-size: 13px !important;
}

.medium {
  font-size: 15px !important;
}

.main-auth-page-container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 2rem
}

.w-fit {
  width: fit-content !important;
}

hr {
  border-top: 2px solid var(--color-gray) !important;
  opacity: 1 !important;
}

.auth-page-logo {
  max-width: 105px;
  width: 100%;
}

.tab-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.tab-icon {
  height: 16px !important;
  width: auto;
}

.blur-background-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.blur-background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(30px);
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
}

.main-content-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 2.5rem;
  min-height: 90vh;
  background: var(--background) !important;
}

.nav-tabs .nav-link {
  height: 100%;
}

.nav-tabs {

  max-width: 100% !important;
  flex-wrap: nowrap !important;
}

.options-tab-button {
  padding: 0 .4rem !important;
  z-index: 99999999 !important;
}

.opacity-80 {
  opacity: .8;
}

.card {
  color: var(--color-text) !important;
}

.switch-off.btn {
  background-color: var(--color-main-background) !important;
}

.hover-light:hover {
  background-color: rgba(255, 255, 255, 0.233);
}

.py-05 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.options-menu-dropdown {
  position: absolute !important;
  left: 0 !important;
  z-index: 999999 !important;
  top: 100% !important;
  background: var(--background) !important;
  width: 250px;
}

.options-menu-dropdown .dropdown-item {
  color: var(--color-text);
}

.options-menu-dropdown .dropdown-item:hover {
  background: var(--color-main-background);
}

.hover:hover {
  opacity: .6 !important;
}

.form-check-input {
  border: 1.5px solid var(--color-primary) !important;
}

.cet-container {
  overflow: hidden !important;
}

.modal-content {
  background-color: var(--background) !important;
}